.product-details-card {
  background-color: white;
  border-radius: 6px;
  border: #dddddd 1px solid;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-details {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.product-details > img {
  width: 300px;
  border-radius: 6px;
}

.product-details-info {
  display: flex;
  flex-direction: column;
}

.product-details-card > button {
  border: 2px solid var(--green-trybe);
  color: #368b65;
  background-color: rgb(234, 255, 236);
  border-radius: 4px;
  margin-bottom: 5px;
}

.product-details-card > button:hover {
  background-color: rgba(0, 0, 0, 0.185);
}

.product-details-card > button:active {
  background-color: rgba(0, 0, 0, 0.295);
}
