header {
  background-color: var(--green-trybe);
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 60px;
  box-shadow: 0 2px 0 0 rgb(0 0 0 / 10%);
}

header > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}

header > input {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  height: 39px;
  padding: 9px 60px 9px 15px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: 0 rgba(0,0,0,.2);
  color: #333;
  font-size: 16px;
  box-sizing: border-box;
  width: 598px;
}

header > input::placeholder {
  opacity: 0.6;
}

header > input:focus {
  outline: none;
}

header > button {
  width: 46px;
  height: 39px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  border: 0 rgba(0,0,0,.2);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

header > button:hover {
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.589);
}

header > button:active {
  box-shadow: 0 1px 2px 0 #45b38167;
}

.header-img {
  height: 40px;
}

.header-img.title {
  margin-right: 40px;
}

.header-img.logo {
  margin-right: 15px;
}

.disabled {
  pointer-events: none;
  opacity: .3;
}

.user-info {
  flex: 1;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(70, 70, 70);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 15px;
}

.user-info > a {
  color: rgb(70, 70, 70);
}

.user-info > img {
  margin-right: 10px;
  height: 25px;
  padding: 3px;
  background-color: white;
  border-radius: 50%;
}
