.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 284px;
  margin: 6px;
  background-color: white;
  height: 400px;
  border-radius: 6px;
  border: #dddddd 1px solid;
  transition: box-shadow 0.3s;
}

.product-card:hover {
  box-shadow: 0 50px 50px 8px rgba(0, 0, 0, 0.507);
  z-index: 100;
  cursor: pointer;
}

.product-card > a {
  text-decoration: none;
  color: #333;
}

.product-card > button {
  align-self: center;
  border-radius: 4px;
  margin-bottom: 5px;
}

.product-card > button.add {
  border: 2px solid var(--green-trybe);
  color: #368b65;
  background-color: rgb(234, 255, 236);
}

.product-card > button.remove {
  border: 2px solid rgb(255, 68, 68);
  color: rgb(199, 52, 52);
  background-color: rgb(255, 234, 234);
}

.product-card > button:hover {
  background-color: rgba(0, 0, 0, 0.185);
}

.product-card > button:active {
  background-color: rgba(0, 0, 0, 0.295);
}

.product-img {
  width: 100%;
  height: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img > img {
  max-width: 284px;
  max-height: 284px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%;
  padding: 10px;
}


